# 🐍 Python


# 🧠 Virtual Environment
.venv/
venv/
env/c
ENV/

# 📦 Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg

# 🔍 Logs and temp files
*.log
*.tmp
*.temp
*.DS_Store

# 🧪 Jupyter / IPython
.ipynb_checkpoints/
*.ipynb

# 🧰 IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# 🚀 FastAPI + Models
app/__pycache__/
app/model/__pycache__/
app/model/*.pkl
app/model/*.joblib
app/model/*.sav

# 🧱 System files
Thumbs.db
.DS_Store
